{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current-password" placeholder="Current Password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new-password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
