/*                      Google Fonts Import                     */

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=Caveat:wght@400;700&family=Comfortaa:wght@700&family=Montserrat:ital,wght@0,600;1,600&family=Orbitron:wght@600&display=swap');


/*                      Header                      */

.blog-name {
    font: 500 2.2rem 'Caveat', cursive;
}

.navbar-text {
    margin-left: 230px;
}

.site-nav-menu {
    letter-spacing: 0.08em;
}

.site-nav-menu a {
    padding: 15px;
}


/*                      Footer                      */

.page-footer {
    color: #F7FFF7;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.questions {
    order: 1;
    margin-right: 25px;
    padding: 5px 0;
}

form {
    margin: 0 50px 0 0;
    padding: 0 30px;
}

.questions label {
    display: block;
    margin-bottom: 20px;
    font-style: italic;
}

.questions input, textarea {
    display: block;
    border-radius: 3px;
    background-color: #1f2022;
    border: none;
    font-size: 12px;
    color: #d1d2d2;
    width: 30em;
    padding: 10px;
    margin-bottom: 10px;
}

.questions input:focus, .questions textarea:focus {
    outline: 1px solid #32a1ce;
}

.questions textarea {
    resize: vertical;
    height: 10em;
}

.questions button {
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.about p {
    font: 0.75rem/1 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 8px;
}

#contact img {
    width: 38px;
    height: 38px;
    margin-bottom: 10px;
    padding: 6px;
}

#contact img:hover, #contact img:active {
    border-radius: 100%;
    background-color: rgba(11, 72, 153);
    padding: 3px;
}
